<div id="main-container">
    <mat-toolbar color="primary" class="navbar">
        <a class="button" routerLink="" routerLinkActive="activebutton"><div>GameCatalog</div></a>
        <div>
            <a class="button" routerLink="/game" routerLinkActive="activebutton"><span>Games</span></a>
            <a class="button" routerLink="/publisher" routerLinkActive="activebutton"><span>Publishers</span></a>
            <a class="button" routerLink="/users" routerLinkActive="activebutton"><span>Users</span></a>
        </div>
    </mat-toolbar>

<router-outlet></router-outlet>
</div>